<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row class="ion-align-items-center">
      <ion-item lines="none">

        <ion-col size="2">
          <ion-avatar>
            <img src="assets/images/userProfil.jpg" alt="img" style="font-weight: 100; ">
          </ion-avatar>
        </ion-col>

        <ion-col size="9" offset="1">
          <h1>{{userName}}</h1>
        </ion-col>
      </ion-item>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-item>
        <ion-col size="12">
          <p>Actuellement en alternance dans l'entreprise "Groupe OPEN" a Rennes pour le poste de développeuse Android
            Kotlin.</p>
        </ion-col>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" *ngFor="let inf of infoPerso">
          <ion-icon name="{{inf.icon}}"></ion-icon>
          <h6>&nbsp;&nbsp;{{inf.info}}</h6>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">

    <ion-fab-button color="dark">
      <ion-icon md="caret-back" ios="chevron-forward-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="start">
      <ion-fab-button color="light" *ngFor="let elm of reseaux" (click)="openAlert()">
        <ion-icon name="{{elm.icon}}"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
</ion-content>
