<ion-app>

  <ion-menu side="end" menuId="expPro" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Type d'expériences</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/experiences">
          <ion-label>Développeur</ion-label>
        </ion-item>
        <ion-item routerLink="/experiences-others">
          <ion-label>Autres</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" *ngFor="let categorie of categories" routerLink="{{categorie.redirection}}">
        <ion-icon name="{{categorie.icon}}"></ion-icon>
        <ion-label>{{categorie.title}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
